@inject IHttpContextAccessor cntx;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>

<ul style="background-color: darkorange">
    <li>@ViewData["Title"]</li>
    <li> Student ID: @cntx.HttpContext.Session.GetString("StudentName")</li>
    <li> Student Name: @cntx.HttpContext.Session.GetInt32("StudentID").ToString()</li>

</ul>